@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.webselector{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.webselectoritem{
    padding: 10px;
}
.webselectoritem img{
    height: 290px;
    width: 290px;
    border-style: solid;
    border-width: 10px;
    border-color: #4b7b99;
    border-radius: 10%;
}

main{
    flex: 1;
    color: #FFFFFF;
    position: sticky;
    margin-top: 400px;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
    text-align: center;
    padding-top: 40px;
    transition: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('img/background.webp') center/cover no-repeat;
}
main p {
    font-size: 1.2rem;
    padding-bottom: 7px;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
main p, main h1, main h2, main h3, main sub, main img {
    opacity: 0; /* Start hidden */
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

main p.visible, main h1.visible, main h2.visible, main h3.visible, main sub.visible, main img.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}
hr{
    padding: 20px;
    color: #ffffff00;
    border-color: #ffffff00;
}
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
    top: 0;
    left: 0;
    z-index: -1;
}
.header::after{
    content: 0;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, red);
}

#check{
    display: none;
}
.logo img{
    height:7rem;
    width: auto;
}
.navbar a{
    font-size: 1.15rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: padding 1s ease, color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;

}
.icons{
    position: absolute;
    font-size: 2.8rem;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    right: 5%;
}
.navbar a:hover {
    font-size: 1.15rem;
    color: #000; /* Set text color */
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    transition: padding 0.5s ease, background-color 0.3s ease, color 0.3s ease, border-radius 0.2s ease; 
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 42, 44);
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
.footercontainer{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.footerobject{
    display: inline-block;
    align-items: center;
    padding-left: 1rem;
}
.footerobjecttext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    padding-right: 1rem;
}
.footerobjectmini {
    margin: 0;
    padding: 0;
}
.footerobject img{
    display: inline-block;
    height: 6rem;
    padding-left: 1rem;
}
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width: 768px){
    .footerobject{
        display: inline-block;
        align-items: center;
        padding-left: 0;
    }
    .footerobjecttext{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow:hidden;
        padding-right: 0;
    }
    .footercontainer{
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
    p{
        margin-left: 1px;
        margin-right: 1px;
    }
    #check:checked~.icons #menu-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }
    .icons #close-icon{
        display: none;
    }
    .icons{
        display: inline-flex;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,.1);
        backdrop-filter: blur(50px);
        transition: .3s ease;
        overflow: hidden;
    }
    #check:checked~.navbar {
        height: 14rem;

    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }
    .navbar a:hover{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }
    #check:checked~.navbar a{
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }
}
@media (max-width: 425px){
    .footerobject img{
        display: inline-block;
        height: 4rem;
        padding-left: 1rem;
    }
    .footerobjectmini {
    margin: 0;
    padding:  0;
    padding-right: 1rem;
    font-size: 0.8rem
    }
    main p{
        margin-left: 1px;
        margin-right: 1px;
        font-size:1rem;
    }
    h2{
        font-size:1.3rem;
    }
    hr{
        padding:10px;
    }
    main{
        color: #FFFFFF;
        position: sticky;
        margin-top: 15rem;
        background-color: rgba(0,0,0,.1);
        backdrop-filter: blur(50px);
        text-align: center;
        padding-top: 40px;
    }
    h1{
        font-size:1.87rem;
    }
    .logo img{
    height:5rem;
    width: auto;
}
}